<a href="https://colab.research.google.com/github/HuMaN-OG/Learning/blob/main/BhuvanBatra10thA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ch-7 Introduction to Phython Class IX Book**

1) Write a program to print sum of two input numbers.

In [ ]:
a1=float(input ("a = "))
a2=float(input ("b = "))
print(a1+a2)

a = 87.9834
b = 69.769
157.75240000000002

2) Write a program to print a average of five input numbers.

In [ ]:
a1=float(input ("a = "))
b2=float(input ("b = "))
c3=float(input ("c = "))
d4=float(input ("d = "))
e5=float(input ("e = "))

print(a1+b2+c3+d4+e5)

a = 66
b = 9876
c = 4567
d = 8789
e = 34567
57865.0

3) Program to convert celius to feren.

In [ ]:
a=float(input("Temp. in celcius: "))
x= (a)*9/5+32
print ("Temp. in Faranheit: ",x)

Temp. in celcius: 38
Temp. in Faranheit:  100.4

4) W.A.P to calculate and display selling price by inputting cost price and profit.

In [ ]:
cp=float(input("Cost Price: "))
p=float(input("Profit: "))
sp=cp+p
print("Selling Price: ",sp)

5) W.A.P to accept the side of a square and calculate its area.

In [ ]:
s=float(input("Side of Square: "))
a=s**2
print("Area of Square: ",a)

6) W.A.P to accept marks in 5 subjects and output average.

In [ ]:
a=float(input("Marks in Maths: "))
b=float(input("Marks in Science: "))
c=float(input("Marks in Social Studies: "))
d=float(input("Marks in Sanskrit: "))
e=float(input("Marks in AI:  "))
x=(a+b+c+d+e)/5
print("average Marks: ",x)

7) W.A.P to input a number and its cube.

In [ ]:
x=float(input("Enter your number: "))
sq2=x**2
cu3=x**3
print("Square: ",sq2)
print("cube: ",cu3)

8) W.A.P to input amount in dollars and the coversion rate of dollar into rupees and show amount in rupees.

In [ ]:
d=float(input("Amount in Dollars: "))
c=float(input("Todays USD-INR Coversion rate: "))
r=d*c
print("Amount in Rupees= ",r)

# **CH-8 Conditional Statements and Loops Class IX Book**

1) W.A.P to input 3 integers and print the largest of 3.

In [ ]:
a=float(input("Enter First Number: "))
b=float(input("Enter Second Number: "))
c=float(input("Enter Third Number: "))
if a>b and a>c:
  print ("First number is Largest")
elif b>a and b>c:
  print ("Second number is Largest")
else :
  print("Third number is largest")

2)W.A.P to input a number and tell if it is odd or even.

In [ ]:
a=float(input("Enter Your Number: "))
if a%2!=0:
  print("The number is Odd")
else:
  print("The number is Even")

3) W.A.P that inputs a number and checks whether it is divisible by 3 or not.

In [ ]:
a=float(input('Enter the number: '))
if a%3==0:
  print('Divisible by 3.')
else:
  print('Not divisible by 3.')

4) W.A.P to input two no.s and a mathematical operator and display the result.

In [ ]:
a=float(input("Enter First Number: "))
b=float(input("Enter Second Number: "))
c=str(input("Choose the Mathematical operator[+,-,/,x]: ")) 
if c=="+":
  print("Result: ",a+b)
elif c=="-":
  print("Result: ",a-b)
elif c=="/":
  print("Result: ",a/b)
elif c=="x":
  print("Result: ",a*b)
else:
  print("Please choose from one of the given operators")

5) W.A.P to input an alphabet and tell if it is lowercase or uppercase

In [ ]:
a = input("Enter your character: ")
if a.isupper() :
    print(a, "is UPPERCASE alphabet.")

elif a.islower() :
    print(a, "is LOWERCASE alphabet.")

else :
    print(a, "is not an alphabet.")

6) W.A.P to print a table of a given number.

In [ ]:
a=1
b=float(input('Enter your number: '))
while a<11:
  print(b*a)
  a+=1

7) W.A.P to input a number and check if it is prime or not.

In [ ]:
a=int(input('Enter your number: '))
if a>1:
  for b in range (2,a):
      if a%b==0:
        print(a,' is not a prime number.')
        break
  else:
    print(a,' is a prime number.')
else:
  print(a,' is neither prime number nor composite.')

8)W.A.P to add odd numbers upto a given value n.

In [ ]:
n=int(input('How many odd no.s to add: '))
a=0
b=0
while b<n:
  c=2*b+1
  a+=c
  b+=1
print('The sum of first ' ,n, 'odd no.s: ',a)

How many odd no.s to add: 5
The sum of first  5 odd no.s:  25

9)W.A.P to print fibonacci series first 10 elements.

In [ ]:
a = 0
b = 1
c = 0
d = 1
while (d <= 10):
  print(c ,end=" ")
  d += 1
  a = b
  b = c
  c = a + b

10) W.A.P to input a character and tell if it is a vowel or consonant.

In [ ]:
a=input('Enter your character: ')
b=a.lower()
if b>='a'and a<='z':
  if b=='a':
    print('Your charcter is a vowel.')
  elif b=='e':
    print('Your charcter is a vowel.')
  elif b=='i':
    print('Your charcter is a vowel.')
  elif b=='o':
    print('Your charcter is a vowel.')
  elif b=='u':
    print('Your charcter is a vowel.')
  else:
    print('It is a consonant.')
else:
  print('Not an alphabet.')

11) W.A.P TO print even numbers between 10 and 20.

In [ ]:
a=10
while a<=20:
  if a%2==0:
    print(a,end=" ")
  a+=1

12) W.A.P to print the sum of the digits of a given number.

In [ ]:
a=int(input("Enter your number: "))
b=0
while a>0:
  c=a%10
  b+=c
  a//=10
print('The sum of digits: ' b)

13) W.A.P to input a number and tell if it is a palindrome or not.

In [ ]:
a=int(input("Enter your number: "))
b=a
c=0
while a>0:
  d=a%10
  c=c*10+d
  a//=10
if c==b:
  print('The given no. is a Palindrome')
else:
  print('The given no. is a Not a Palindrome')

14) W.A.P to print the given pattern.
---
     6 6 6 6
     6 6 6 6
     6 6 6 6

In [ ]:
a=3
b=1
while b<=a:
  print(6,6,6,6, sep=' ')
  b+=1

15) W.A.P to print the given pattern.
---
     4 3 2 1
     4 3 2 
     4 3 
     4

In [ ]:
a=4
b=4
c=1
while a>=1:
  while c<=a:
    print(b,end=' ')
    b-=1
    c+=1
  print()
  a-=1
  c=1
  b=4

#**CH-9 Strings in Python Class IX Book**

1)W.A.P to check whether a given string is palindrome or not.

In [ ]:
a=input('Enter your word: ')
c=a.upper()
b=c[::-1]
if b==c:
  print('It\'s a Palindrome.')
else:
  print('It\'s not a Palindrome.')

2) W.A.P to count the number of vowels in a word.

In [ ]:
a=input("Enter your word: ")
b = a.lower()
d=len(b)
e=0

for i in range (0,d):
    if b[i] in ('a','e','i','o','u'):
      e+=1
print('The given word has' e 'vowels')

3) W.A.P to input a sentnce and count the number of words in the sentece.

In [ ]:
a=input('Enter your sentence: ')
b=a.split()
c=len(b)
print('The given sentence has ',c,' words.')

Enter your sentence: HEY
The given sentence has  1  words.

# **Python Assignment 1**

1. Write a program to print the sum of n numbers.

In [1]:
num = int(input("Enter a number: "))
def sum(n):
    if n <= 1:
        return n
    else:
        return n + sum(n-1)
print("The sum is: ", sum(num))

Enter a number: 3
The sum is:  6

2. Write a program to test whether a input number is a prime or not

In [3]:
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

Enter a number: 1
1 is not a prime number

3. Write a program to generate fibonacci series upto n. 1 1 2 3 5 8...

In [5]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 2
Fibonacci sequence:
0
1

4. Write a program to input a string and print its length also print string in reverse order

In [ ]:
a=input("Enter String:")
l=len(a)
for i in range(l-1,-1,-1):
  print(a[i])

5. Write a program to print table of n number.

In [7]:
n=int(input("Enter a number"))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

Enter a number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50